body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

iconify-icon {
  font-size: 1.5rem;
  vertical-align: middle;
}
